# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Packages/packages-lock.json

# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.pdb
*.mdb

# Build outputs / signing
*.apk
*.aab
*.keystore
*.jks
crashlytics-build.properties

# OS
.DS_Store
Thumbs.db
